<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= bootstrap_form_tag url: '/home', remote: true do |f| %>
        <%= f.range_field :income, in: 1..1000000, step: "1" %> 
        <%= f.text_field :income2 %>
        <%= f.select :filing_status, [['Single', 'single'], ['Married', 'married'], ['Head of Household', 'head_of_household']], { label: 'Filing Status' }, { class: 'selectpicker' } %> 
        <%= f.submit "Calculate Tax", class: 'btn btn-success' %>
      <% end %>
      <hr>
      <div>
        <p><strong>Income Tax: </strong><span id='income-tax'></span></p>
        <p><strong>Medicare Tax: </strong><span id='medicare-tax'></span></p>
        <p><strong>Social Security Tax: </strong><span id='ss-tax'></span></p>
      </div>
    </div>
    <div class="col-md-6">
      <div id="area-example" style="height: 250px;"></div>
    </div>    
  </div>
</div>

<script>
  Morris.Area({
    element: 'area-example',
    data: [
      { y: '2006', a: 100, b: 90 },
      { y: '2007', a: 75,  b: 65 },
      { y: '2008', a: 50,  b: 40 },
      { y: '2009', a: 75,  b: 65 },
      { y: '2010', a: 50,  b: 40 },
      { y: '2011', a: 75,  b: 65 },
      { y: '2012', a: 100, b: 90 }
    ],
    xkey: 'y',
    ykeys: ['a', 'b'],
    labels: ['Series A', 'Series B']
  });      
</script>